{% extends 'base.html.twig' %}

{% block title %}Hello ConvertorController!{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('app') }}
{% endblock %}

{% block body %}

<div class="container mw-100">
    <div class="row">
        <h1 class="w-100 text-center text-light p-5 bg-success">XML-CSV-Convertor</h1>
    </div>
    <div class="row p-5">
        <div class="col-8 p-5">
            <h2 class="text-center">Prepare to be assimilated</h2>
            <div class="p-5">
                {{ form_start(form) }}
                <div class="d-flex justify-content-center ">
                    {{ form_row(form.File, { 'attr': {'class': 'form-control-file', 'type' : 'file'}}) }}
                </div>
                <div class="d-flex justify-content-center">
                    <div class="d-flex justify-content-around">
                        {{ form_row(form.SubmitXML, { 'attr': {'class': 'btn btn-success p-3 circle', 'type' : 'button'}}) }}
                        {{ form_row(form.SubmitCSV, { 'attr': {'class': 'btn btn-success p-3 circle', 'type' : 'button'}}) }}
                    </div>
                </div>
                {{ form_end(form) }}
            </div>
        </div>
        <div class="col-4 p-5 bg-secondary rounded">
            <h2>Hello {{ controller_name }}! ✅</h2>
            <div>
                This friendly message is coming from:
            </div>
            <ul>
                <li>Your controller at <code><a
                                href="{{ '/var/www/XLSX-CSV-convertor/src/Controller/ConvertorController.php'|file_link(0) }}">src/Controller/ConvertorController.php</a></code>
                </li>
                <li>Your template at <code><a
                                href="{{ '/var/www/XLSX-CSV-convertor/templates/convertor/index.html.twig'|file_link(0) }}">templates/convertor/index.html.twig</a></code>
                </li>
            </ul>
        </div>
    </div>
    {% endblock %}
